<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<!--    <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>-->

<main >

  <!-- ***** Call to Action Start ***** -->
  <section class="section section-bg" id="call-to-action"
    style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cta-content">
            <br>
            <br>
            <h2><em>Sản Phẩm Của Chúng Tôi</em></h2>
            <p>Food cung cấp nhiều gói ăn và thực phẩm dùng kèm đa dạng phù hợp với mọi nhu cầu của bạn</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Call to Action End ***** -->
  <div class="container mt-5 mb-5">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-6 border-end">
          <div class="d-flex flex-column justify-content-center">
            <div class="main_image"> <img th:src="@{|https://res.cloudinary.com/dpbixmrep/image/upload/${product.image}|}" id="main_product_image" width="350">
            </div>
            <div class="thumbnail_images" >
              <ul id="thumbnail" >
                <li th:each="listImage:${listImageProduct}"><img onclick="changeImage(this)" th:src="@{|https://res.cloudinary.com/dpbixmrep/image/upload/${listImage.urlname}|}" width="70"></li>
               <!--<li><img onclick="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70"></li>
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70"></li>
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70"></li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 right-side">
            <div class="d-flex justify-content-between align-items-center">
              <h2 style="color: black;">[[${product.name}]]</h2> <span class="heart"><i class='bx bx-heart'></i></span>
            </div>
            <div class="mt-2 pr-3 content">
              <p style="color: black;">[[${product.model}]]</p>
            </div>
            <h3 style="color: black;">[[${product.price}]].000vnd</h3>
            <div class="ratings d-flex flex-row align-items-center">
              <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                  class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i> </div> 
                <!--  <span>441
                reviews</span>-->
            </div>
          
            <div class="buttons d-flex flex-row mt-5 gap-3"> 
              <a class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:attr="ng-click=@{|cart.add(${product.productid})|}">Add to Cart</a> </div>
          <!--  <div class="search-option"> <i class='bx bx-search-alt-2 first-search'></i>
              <div class="inputs"> <input type="text" name=""> </div> <i class='bx bx-share-alt share'></i>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function changeImage(element) {

      var main_prodcut_image = document.getElementById('main_product_image');
      main_prodcut_image.src = element.src;


    }
  </script>
  
   <!-- Modal  thong bao-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Thông Báo </h4>
         
          <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 id="thongbaoaddtocart">Vui lòng đăng nhập</h4>
          <!--      thong bao  thanh cong -->
          <div ng-if="iconsthongbao" class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
          </div>
          <!--  thong bao that bai-->

          <div ng-if="!iconsthongbao" class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span
              class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                class="swal2-x-mark-line-right"></span></span></div>

        </div>
        <div ng-if="!checklogin" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát </button>
          <button type="button" class="btn btn-primary" onclick="location.href='/login'" >Đăng Nhập</button>
        </div>
        
      </div>
    </div>
  </div>
</main>

</html>