<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
  <main>
  <!--<section class="item1">
      <div class="logogiohang">
      
      <span id="giohang"> giỏ hàng</span>
      </div>
      <div class="timkiem">
        <input type="text" id="timkiemIP" placeholder="bạn muốn tìm gì ?">
        <button id="timkiemBT"><i class="fas fa-search"></i></button>
      </div>

    </section>-->
       <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2><em>Sản Phẩm Của Chúng Tôi</em></h2>
                        <p>Food cung cấp nhiều gói ăn và thực phẩm dùng kèm đa dạng phù hợp với mọi nhu cầu của bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    
    
   <section class="item2">
     
 <div  ng-if="cart.items.length == 0">
   <h3> gio hang trong </h3>
 </div>
 
 
 
 <div class="phanthan" ng-if="!cart.items.length == 0" >
  <div id="goiyvanchuyen"><span id="noidunggoiy"><i class="fas fa-truck"></i> Nhấp vào mã voucher ở phía dưới để nhận free ship nhé !</span></div>
 
 <div id="tieudegiohang">
  <div class="tieudetrai">
        <input disabled id="check" type="checkbox">  
     <div class="ttsanphamtrai">Sản Phẩm </div>
  </div>
    <div class="tieudephai">
      <span id="ttsanhamphai">Đơn Giá</span>
      <span id="ttsanhamphai">Số Lượng</span>
      <span id="ttsanhamphai">Số Tiền</span>
      <span id="ttsanhamphai">Thao Tác</span>
    </div>
 </div>
  <div class="sanpham">
 <div class="hienthisanpham" ng-repeat="item in cart.items">

  <div class="tenloaisanpham">
    {{item.name}}
  </div>
  <div class="chitietsanpham">
    <div class="tieudetrai">
      
    <input ng-checked="all" id="check" type="checkbox" ng-model="ischecked" ng-click="cart.chonsanpham(item.productid)">
    
     <div class="sanphamtrai"> 
      <div class="anh"><img class="anhsanpham" src="assets/images/thit-chuot-5.jpg" alt=""></div>
     <div class="motasanpham"><p>{{item.name}}</p> 
</div>
     </div>
  </div>
    <div class="tieudephai">
      <span id="ttsanhamphai">{{item.price}}</span> 
      <span id="ttsanhamphai"><a href=""  ng-click="cart.tru(item.productid)" class="tru">-</a>
      <input style="text-align: center; border-radius: 50%; font-size: 13px;"  class="nhapsoluong p-1" ng-model="item.quantity" type="number">
      <a href=""  ng-click="cart.cong(item.productid)"  class="cong">+</a></span>
      <span id="ttsanhamphai" ng-model="sotien">${{item.quantity * item.price}}</span>
      <span id="ttsanhamphai" > <a href="" ng-click="cart.remove(item.productid)">xóa</a> </span>
    </div>
  </div>
  
  <div class="voucher">
    <span class="dropdown"> <i class="fas fa-water"></i> Shop Voucher giảm đến ₫100k
Mới
Xem thêm voucher <i class="fas fa-caret-down dropbtn">
 <div class="dropdown-content">
    <a href="#">voucher freeship</a>
    <a href="#">Giảm 10% </a>
    <a href="#">Giảm 50% (zalopay)</a>
  </div>
</i>
</span>
  </div>
  
 </div>
 </div>
 
 </div>

 <div class="item3">
  <div class="themvaodonhang">
  <input ng-model="all" id="chontatca" type="checkbox"  >
  <button style="background-color: #ffff;" class="chontatca">Chọn Tất Cả ({{cart.getCount}})</button>
  <button style="background-color: #ffff;"   ng-disabled="!all" ng-click="cart.cleartCart()" class="xoa">xóa </button>
 <!-- <button style="background-color: #ffff;" class="luumucthanhtoan">lưu vào mục đã thanh toán </button>-->
 <div class="tongthanhtoan" >Tổng <span ng-if="ischecked">3</span> <span  ng-if="all">({{cart.getCount}})</span> </span>sản phẩm : $<span ng-if="all">{{cart.getAmount}}</span></div>
 <a style="text-align: center;" class="muahang" href="/payments">Mua Hàng </a>
 </div>
 </div>
  </section>
  </main>


</html>