<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<!--<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <!-- <link rel="stylesheet" href="assets/css/thanhtoan.css">-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->

</head>-->
<body>

  <main>
  <!-- ***** Header Area End ***** -->
  
 <!-- <div class="ttitem1">
    
    <span class="tttieudethanhtoan">Thanh Toán</span>
  </div>
-->
   <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2><em>Sản Phẩm Của Chúng Tôi</em></h2>
                        <p>Food cung cấp nhiều gói ăn và thực phẩm dùng kèm đa dạng phù hợp với mọi nhu cầu của bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
   <!-- mỗi sản phẩm của khách hàng mua  -->
  <div class="ttitem2">
    <div class="tttoanitem2">
    <div class="ttdiachi">
      <span class="ttdiachinhanhang"><i class="fas fa-map-marker-alt"></i> Địa chỉ nhận hàng </span>
      
      <span class="ttdiachicuthe">nguyễn đình thắng (0359780733) hội trường thôn sơn nam xã cẩm thịnh huyện cẩm xuyên ,tỉnh hà tĩnh </span><a class="ttthaydoi" id="openModalBtn" href="#">Thay đổi</a>
    </div>

<div id="myModal" class="ttmodal">
  <div class="ttmodal-content">
    <span class="close">&times;</span>
    <form class="formmodal">
  <div class="form-group">
    <label for="address">Địa chỉ</label>
    <input type="text" id="address" name="address" placeholder="Nhập địa chỉ của bạn" required>
  </div>
  <div class="form-group">
    <label for="phone">Số điện thoại</label>
    <input type="tel" id="phone" name="phone" placeholder="Nhập số điện thoại của bạn" pattern="[0-9]{10}" required>
  </div>

  <button type="submit">Gửi</button>
</form>

  </div>
</div>

    <div class="ttsanpham" >
        <div class="tttieude">
          <span style="margin-left: 50px;">Sản Phẩm </span>
          <span>Đơn Giá </span>
          <span>Số Lượng</span>
          <span class="ttthanhtien">Thành Tiền</span>
        </div>
        
       <div class="ttsanphammuaform">
        <div class="ttsanphammua" ng-repeat="item in cart.items">
          <div class="ttanh">
            <img class="tthinhsanpham" ng-src="https://res.cloudinary.com/dpbixmrep/image/upload/{{item.image}}" alt=""> 
            <span class="tttensanpham">{{item.name}}</span>
          </div> 
          <div class="ttsolieusanpham">
            <span>{{item.price}}</span>
            <span>{{item.quantity}}</span>    
            <span>{{item.price*item.quantity}}.000vnd</span>
          </div>
        </div>  
        
        </div>
    <!--    <div class="ttvanchuyen">
          <div class="ttnhavanchuyen">
            <div class="ttloinhan">
            <label for="">Lời Nhắn:</label>
            <input class="ttghichuship" type="text" placeholder="lưu ý cho người bán ">
            </div>
            <label for="">Đơn vị vận chuyển :</label> 
            <span><span class="pthuc">nhanh</span>  
            
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Thay Đổi
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item text-dark" href="#">Nhanh</a></li>
    <li><a class="dropdown-item text-dark" href="#">Siêu Tốc </a></li>
    <li><a class="dropdown-item text-dark" href="#">Siêu rẻ </a></li>
  </ul>
</div>
            </span> 
            <span class="tienship">đ38.00</span>


    
    
  </div>

          </div>-->
         <!-- <div class="tongtiensanpham">
            <div class="phantongtien">  
                 <label for="">Tổng số tiền (1 sản phẩm ): </label>
            <span>đ78.800</span>
            </div>
          </div>-->
        </div>
    </div>
  </div>
  </div>

  <div class="ttitem2">
   <div class="ttphuongthucthanhtoan">

   

   <div class="ttphuongthuc">
    <span for="" class="ttghichuthanhtoan">Phương thức thanh toán </span> 
    <button class="ttthetindung">Thẻ tín dụng</but>
    <button class="ttthanhtoankhinhanhang">Thanh toán khi nhận hàng</button>
   </div>

   <div class="tttinhtong">
     
     <div class="ttvoucher">
    <span for="">Voucher</span>
    <input type="text" placeholder="Nhập vourcher tài khoản của bạn .">
   </div>
   
    <div class="ttvanchuyen">
          <div class="ttnhavanchuyen">
            <label for="">Đơn vị vận chuyển :</label> 
            <span><span class="pthuc">nhanh</span>  
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Thay Đổi
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item text-dark" href="#">Nhanh</a></li>
    <li><a class="dropdown-item text-dark" href="#">Siêu Tốc </a></li>
    <li><a class="dropdown-item text-dark" href="#">Siêu rẻ </a></li>
  </ul>
</div>
            </span> 
            <span class="tienship">đ38.00</span>
  </div>
  </div>
  
     <div class="tttinhtongchild">
    <label for="">Tổng tiền hàng:</label>
    <span>{{cart.totalAll}}.000vnd</span><br><br>
    <label for=" ">Phí Vận Chuyển:</label>
    <span>đ156.700</span><br> <br>
    <label for="">Tổng Thanh Toán :</label>
    <span>đ131394</span>
      </div>
     </div>
     
     <div class="ttdathang">
      <span>Nhấn đặt hàng đồng nghĩa với việc bạn đồng ý tuân theo Điều Khoản củ chúng tôi</span>
      <button class="ttdathangbtn">Đặt hàng</button>
     </div>
     </div>
    </div>
  </main>
  <script src="assets/js/thanhtoan.js"></script>  
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/mixitup.js"></script>
    <script src="assets/js/accordions.js"></script>
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/index.js"></script>  
  </body>
  </html>