<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <main>
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Tham Khảo <em>Kiến Thức</em></h2>
                        <p>Để biết thêm nhiều thông tin cũng như kiến thức thú vị về thực phẩm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <section class='tabs-content'>
              <article>
                <h4>NƠI BÁN CÁ HỒI TƯƠI SIÊU NGON, ĐẢM BẢO CHẤT LƯỢNG MÀ GIÁ CỰC RẺ.</h4>

                <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>

                <div><img src="assets/images/cahoi.jpg" width="2655px" height="800px" alt=""></div>

                <br>

                <h3 style="color: black; font-weight: bold;">Vì sao cá hồi được ưu chuộng ?</h3>

                <p  style="color: black;">Cá hồi nổi tiếng là một lựa chọn lành mạnh với hàm lượng Omega 3 cao, mà các nhà nghiên cứu đã cho thấy nó mang lại nhiều lợi ích cho tim, ngăn ngừa ung thư, đẹp da, thúc đẩy hoạt động não bộ phát triển…mà hầu hết mọi người đều không đáp ứng đủ trong bữa ăn hàng ngày.
                </p>
                
                <h3  style="color: black; font-weight: bold;">Lợi ích sức khỏe khi ăn cá hồi</h3>
                
                <P  style="color: black;">Duy trì sức khỏe cho bộ não: Cá hồi tươi rất giàu axit béo omega-3 giúp tăng cường chức năng của bộ não. Giúp cho trí nhớ sắc bén hơn và luôn tỉnh táo trong những giờ làm việc mệt mỏi. Các amino axit, vitamin A và D, selen, bảo vệ thần kinh khỏi những tác hại về lâu dài.
Cải thiện sức khỏe của mắt: Hàm lượng omega-3 và axit amin có trong cá hồi giúp cải thiện sức khỏe của đôi mắt. Ngăn ngừa bệnh thoái hóa điểm vàng, mắt bị khô và mệt mỏi.
Ngăn ngừa bệnh tim, hạn chế cao huyết áp: Cá hồi là nguồn cung cấp axit omega 3 tuyệt diệu. Hiệu quả trong việc giảm cholesterol và duy trì sức khỏe tim mạch. Củng cố cơ tim và phục hồi chức năng các mô tim mạch. Axit omega 3 giúp ngăn chặn các động mạch và tĩnh mạch bị xơ cứng. Cải thiện sức khỏe tim mạch nhờ vào việc tăng tốc độ biến thiên của nhịp tim (HRV). Giúp giảm nguy cơ loạn nhịp tim và đột tử.
Chăm sóc da và tóc: Omega-3 cũng có tác dụng rất lớn trong việc hiệu ứng chống viêm. Cá hồi giúp chồng lại hiện tượng da bị cháy nắng cũng như bệnh ung thư da. Giúp tóc bóng mượt hơn và da mịn màng hơn.
Bảo vệ đường tiêu hóa, ngăn ngừa ung thư và tốt cho tâm trạng: Thường xuyên ăn cá hồi giúp ngăn ngừa ung thư: vú, đại tràng, thực quản, dạ dày, buồng trứng…Omega-3 có trong cá hồi giúp giảm trầm cảm và mang lại cảm giác thoải mái.
Và bây giờ đến phần quan trọng nhất, đó là địa chỉ để mua được cá hồi ngon chất lượng.</P>

                <ul class="social-icons">
                    <li>Share this:</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </article>
            </section>

            <br>
            <br>
            <br>
            
        </div>
    </section>
    <!-- ***** Blog End ***** -->

</main>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/mixitup.js"></script> 
    <script src="assets/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>


</html>